@media screen and (min-width: 1024px){
  .allContainer {
    width: 100vw;
    height: auto;
    overflow: hidden;
    position: relative; 
}

.textContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5%;
    margin-top: -5%;
    margin-bottom: -5%;
}

.textContainer2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mapText {
    font-family: 'Pretendard-extraBold';
    font-size: 17.73px !important;
}

.mapContainer {
    padding: 5%;
    height: auto !important;
}

.searchContainer {
    padding: 0% !important;
    margin-top: 1% !important;
    margin-left: 5%;
    margin-right: 5%;
}

.addScheduleButton {
    width: 13% !important;
    padding: 1.5% 1%  !important;
    font-family: 'Pretendard-semiBold';
    font-size: 11.68px !important;
    color: #000000;
    border-radius: 20px !important;
    border: 1px solid #c4c4c4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5% 0 5%;
    height: 300px !important;
    overflow-y: auto;
    margin-top: 1%;
  }
  
  .searchBox {
    width: 58% !important;
    padding: 1% !important;
    border-radius: 20px !important;
    background: linear-gradient(90deg, #D6D6D6, #F0F0F0);
  }

  .row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5% !important;
    width: 100%;
  }

  .textBox2 {
    width: 50%;
    height: 7%;
    border: 1px solid #ccc;
    padding: 5px;
  }

  .text{
    font-family: 'Pretendard-bold';
    font-size: 15px !important;
    margin-right: 5%;
  }

  .textContainer3 {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .arrowButton {
    width: 39.79px;
    height: 37.69px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
  }

  .trashCanContainer{
    margin-left: 4%;
  }

  .trashCan{
    width: 40px;
  }
  
  .memoContainer {
    position: absolute;
    top: 132% !important;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  
  .memoTextBox {
    width: 71% !important;
    height: 45px !important;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #E9E9E9;
  }

  .underline {
    width: 100%;
    height: 1px;
    background-color: #C7C7C7;
}

.underlineContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}


}

.allContainer {
    width: 100vw;
    height: auto;
    overflow: hidden;
    position: relative; 
}

.textContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5%;
    margin-top: -5%;
    margin-bottom: -5%;
}

.textContainer2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mapText {
    font-family: 'Pretendard-extraBold';
    font-size: 12.73px;
}

.mapContainer {
    padding: 5%;
    height: 193px;
}

.searchContainer {
    padding: 5%;
    margin-top: 5%;
}

.addScheduleButton {
    width: 20%;
    padding: 2%;
    font-family: 'Pretendard-semiBold';
    font-size: 7.68px;
    color: #000000;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5% 0 5%;
    height: 168px;
    overflow-y: auto;
  }
  
  .searchBox {
    width: 68%;
    padding: 2%;
    border-radius: 10px;
    background: linear-gradient(90deg, #D6D6D6, #F0F0F0);
  }

  .row {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    width: 100%;
  }

  .textBox2 {
    width: 50%;
    height: 7%;
    border: 1px solid #ccc;
    padding: 5px;
  }

  .text{
    font-family: 'Pretendard-bold';
    font-size: 10px;
    margin-right: 5%;
  }

  .textContainer3 {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .arrowButton {
    width: 39.79px;
    height: 37.69px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
  }

  .trashCanContainer{
    margin-left: 4%;
  }

  .trashCan{
    width: 40px;
  }
  
  .memoContainer {
    position: absolute;
    top: 122%;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  
  .memoTextBox {
    width: 97%;
    height: 35px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #E9E9E9;
  }

  .underline {
    width: 100%;
    height: 1px;
    background-color: #C7C7C7;
}

.underlineContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

