.menu {
  position: absolute;
  top: 70%;
  right: 0%;
  width: 40%;
  background: linear-gradient(180deg,  #365d29 0%, #4f8b3d 100%);
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  opacity: 0; /* 열리기 전에 숨김 */
  max-height: 0; /* 열리기 전에 숨김 */
  overflow: hidden;
  transition: opacity 0.4s ease, max-height 0.4s ease;
}

.menu.open {
  opacity: 1;
  max-height: 500px;
}
  
.menu ul {
  list-style: none;
  padding: 10%;
  margin: 0;
}
  
.menu li {
  padding: 10px 0;
  cursor: pointer;
  font-family: 'Pretendard';
  font-size: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 2%;
  text-align: left;
  padding-left: 2%;
}

.menu li:last-child {
  border-bottom: none;
}

.menu li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.IconsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: transparent;
  position: relative;
  margin-bottom: -71px;
  top: 20px;
  z-index: 100;
}

@media screen and (min-width: 1024px) {
  .header {

  }
  
  .menu {
    width: 100%;
    padding: 0;
    top: auto;
    position: absolute;
    opacity: 1;
    max-height: 500px;
    background-color: rgba(0, 0, 0, 0);
    background: none;
  }

  .IconsContainer {
    display: none;
  }

  .menu ul {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .menu li {
    padding: 3%;
    border-bottom: none;
  }
}
  
.leftIcons {
  display: flex;
  align-items: center;
}
  
.rightIcons {
  display: flex;
  align-items: center;
  margin-right: 7%;
  gap: 50%; 
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 0 10px;
}
  
.desktopHeader {
  height: 13%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 1% 7%;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  color: white;
}

.title {
  display: flex;
  align-items: center;
  gap: 3%;
}

.title div {
  position: relative;
  top: 10%;
}

.title div span{
  font-size: 13.68px;
  font-family: 'Pretendard';
  white-space: nowrap;
}

.menuList {
  width: 40%;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: 'Pretendard-semiBold';
  gap: 7%;
}

.menuList div {
  cursor: pointer;
  padding: 5% 0;
}

.menuList div span {
  white-space: nowrap;
}
