.overlay {
    background-color: rgba(0, 0, 0, 0.7); /* 배경 어둡게 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    position: relative;
  }
  
  .modalHeader {
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5%;
  }
  
  .titleSecond {
    font-family: 'Pretendard-extraBold';
    font-size: 18px;
    margin: 1%;
    text-align: center;
    border-bottom: 1px solid #383838;
    padding-bottom: 5%;
  }

  .titleFirst {
    font-family: 'Pretendard-extraBold';
    font-size: 18px;
    margin: 1%;
    text-align: center;
  }
  
  
  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 0;
    margin-top: -5%;
  }
  
  .modalBody {
    margin: 0% 15% 10% 15%;
  }
  
  .modalBody h2 {
    font-family: 'Pretendard-bold';
    font-size: 20px;
    color: #79BD4E;
    margin-bottom: 5%;
  }

  .modalBody p {
    font-family: 'Pretendard-extraBold';
    font-size: 16px;
    line-height: 1.2;
  }
  
  .modalActions {
    display: flex;
    justify-content: space-around;
  }

  